In [9]:
list1 = []
n = int(input("Enter the number: "))

for i in range(n):
    list1.append(input())

Enter the number: 5
1
2
3
4
5

In [10]:
for i in list1:
    print(i)

1
2
3
4
5

In [4]:
import platform
print(platform.python_version())

3.7.3

In [37]:
for i in range(10):
    print(str(i) + " * " + "6" + " = " + str(i*6))

0 * 6 = 0
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54

In [33]:
print(5+6)
print("5"+"6")
print("12"*6)

11
56
121212121212

In [36]:
for i in range(1, 11):
    print(i * "*")

*
**
***
****
*****
******
*******
********
*********
**********

In [42]:
for j in range(1, 6):
    for i in range(1, 11):
        print(str(j) + " * " + str(i) + " = " + str(i*j))
    print("\n")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [46]:
list2 = [["Narayanganj", "Dhaka", "Ctg"],["Kolkata", "Hydrabad", "Uttarkhnad", "Bihar"]]
for country in list2:
    for district in country:
        print(district)
    print("\n")

Narayanganj
Dhaka
Ctg


Kolkata
Hydrabad
Uttarkhnad
Bihar

In [54]:
list2 = [[["Narayanganj"], ["Dhanmondi", "Mirpur", "Puran Dhaka"], ["Ctg"]],["Kolkata", "Hydrabad", "Uttarkhnad", "Bihar"]]
for country in list2:
    for district in country:
        for region in district:
            print(region)
        print("\n")

Narayanganj


Dhanmondi
Mirpur
Puran Dhaka


Ctg


K
o
l
k
a
t
a


H
y
d
r
a
b
a
d


U
t
t
a
r
k
h
n
a
d


B
i
h
a
r